# dbApps10 Capstone Project

**Course:** Database Applications Development

**Topic:** *(write your topic here)*

## Setup

In [ ]:
import pandas as pd
import sqlite3

# Connect to database file
conn = sqlite3.connect('my_project.db')
cursor = conn.cursor()

## Part 1: Design (Sub-Lesson 10a-10b)

### My Topic

Describe your database idea and the business rules it enforces.
What problem are you solving? What entities and relationships are important?

### ER Diagram

Draw your Entity-Relationship diagram in ASCII format here.
Show tables and their relationships (1-to-1, 1-to-many, many-to-many).

### Data Dictionary

List your tables, columns, data types, constraints, and keys:

| Table | Column | Type | Constraints | Notes |
|-------|--------|------|-------------|-------|
| | | | | |

## Part 2: Build (Sub-Lesson 10c)

### CREATE TABLE Statements

In [ ]:
# Create your tables here
# Remember: PRIMARY KEY, FOREIGN KEY, NOT NULL, UNIQUE, CHECK, DEFAULT constraints

### INSERT Data

In [ ]:
# Insert your records here (aim for 20+ records per main table)
# Use separate INSERT INTO statements for each record
# Example: cursor.execute("INSERT INTO tableName (col1, col2) VALUES (?, ?)", (val1, val2))

### Verify Tables

In [ ]:
# Run SELECT * from each table to verify data was inserted correctly

## Part 3: Queries (Sub-Lesson 10d)

### Query 1: Basic SELECT with WHERE

In [ ]:
# Write a simple SELECT query with a WHERE clause
# Example: SELECT all customers from a specific city

### Query 2: SELECT with Multiple Conditions

In [ ]:
# Write a query with multiple conditions (AND, OR)
# Example: SELECT orders from January AND quantity > 5

### Query 3: ORDER BY and LIMIT

In [ ]:
# Write a query sorted and limited to top N results
# Example: SELECT top 5 most expensive items

### Query 4: Aggregate Function (COUNT, SUM, AVG, etc.)

In [ ]:
# Write a query using an aggregate function
# Example: SELECT COUNT(*) total_records, AVG(price) from products

### Query 5: GROUP BY with Aggregate

In [ ]:
# Write a query with GROUP BY
# Example: SELECT category, COUNT(*) count from products GROUP BY category

### Query 6: GROUP BY with HAVING

In [ ]:
# Write a query with GROUP BY and HAVING clause
# Example: SELECT category, COUNT(*) count from products GROUP BY category HAVING COUNT(*) > 10

### Query 7: INNER JOIN

In [ ]:
# Write an INNER JOIN between two tables
# Example: SELECT customer name and their orders

### Query 8: LEFT JOIN

In [ ]:
# Write a LEFT JOIN between two tables
# Example: SELECT all customers and their orders (even if no orders)

### Query 9: Multi-table JOIN or JOIN + GROUP BY

In [ ]:
# Write a more complex query with multiple JOINs and/or GROUP BY
# Example: SELECT customer name, COUNT(orders) from customers LEFT JOIN orders GROUP BY customer

### Query 10: Your Choice

In [ ]:
# Show off! Write an interesting query that demonstrates a SQL skill
# You can combine multiple concepts or find a useful business insight

## Part 4: Security (Sub-Lesson 10e)

### Parameterized Query Demo

In [ ]:
# Show at least one parameterized query using ? placeholders
# This protects against SQL injection
# Example: cursor.execute("SELECT * FROM users WHERE id = ?", (userInput,))

### Transaction Demo

In [ ]:
# Show BEGIN, operations, and COMMIT
# If an error occurs, ROLLBACK will undo changes
# Example: cursor.execute("BEGIN")  # operations here  # cursor.execute("COMMIT")

## Part 5: Reflection

### What did you learn?

Reflect on your capstone project experience:
- What did you learn about database design?
- What was the hardest part of this project?
- What features would you add with more time?

## Cleanup

In [ ]:
# Close the database connection
conn.close()