# dbApps08 Walkthrough: Building & Managing Data

**Course:** Database Applications Development (145085), Medina County Career Center

In this lesson, you will learn how to **build a database from scratch** using pure SQL. You'll create tables, insert data, update records, delete rows, and apply constraints to ensure data quality.

## Setup

Import libraries and create a new SQLite database connection.

In [ ]:
# Import required libraries
import pandas as pd
import sqlite3

# Create a connection to a NEW database file named 'practice.db'
# If the file doesn't exist, SQLite will create it automatically
conn = sqlite3.connect("practice.db")

print("Database connection established.")
print("Working with: practice.db")

---

## Sub-Lesson 08a — CREATE TABLE & INSERT

In this section, you'll create your first tables and populate them with data.

### Creating the Students Table

The first table will store student information. We'll define columns for student ID, first name, last name, current grade level, and GPA.

In [ ]:
# Create the 'students' table with the following structure:
# - studentId: INTEGER PRIMARY KEY (unique identifier, auto-increments)
# - firstName: TEXT (student's first name)
# - lastName: TEXT (student's last name)
# - grade: INTEGER (current grade level, e.g., 9, 10, 11, 12)
# - gpa: REAL (grade point average, e.g., 3.75)

createStudentsTable = """
CREATE TABLE students (
    studentId INTEGER PRIMARY KEY,
    firstName TEXT,
    lastName TEXT,
    grade INTEGER,
    gpa REAL
);
"""

conn.execute(createStudentsTable)
conn.commit()

print("Table 'students' created successfully.")

### Inserting a Single Row

Now we'll insert one student record. Notice the use of named columns and the `conn.commit()` call to save the data.

In [ ]:
# Insert a single student record
# Using named columns makes the INSERT statement clear and maintainable
insertStudent1 = """
INSERT INTO students (firstName, lastName, grade, gpa)
VALUES ('Alice', 'Johnson', 10, 3.85);
"""

conn.execute(insertStudent1)
conn.commit()  # IMPORTANT: conn.commit() saves the changes to the database

print("One student record inserted.")

### Inserting Multiple Rows

Insert several more student records. Each INSERT statement is executed separately (no loops needed).

In [ ]:
# Insert the second student
insertStudent2 = """
INSERT INTO students (firstName, lastName, grade, gpa)
VALUES ('Bob', 'Smith', 11, 3.45);
"""
conn.execute(insertStudent2)
conn.commit()

# Insert the third student
insertStudent3 = """
INSERT INTO students (firstName, lastName, grade, gpa)
VALUES ('Charlie', 'Brown', 9, 2.90);
"""
conn.execute(insertStudent3)
conn.commit()

# Insert the fourth student
insertStudent4 = """
INSERT INTO students (firstName, lastName, grade, gpa)
VALUES ('Diana', 'Prince', 12, 3.95);
"""
conn.execute(insertStudent4)
conn.commit()

print("Three additional student records inserted.")

### Verifying the Data with SELECT

Use a SELECT query with `pd.read_sql()` to view all records in the students table.

In [ ]:
# Query to select all records from the students table
selectAllStudents = "SELECT * FROM students;"

# Use pd.read_sql() to execute the SELECT and return results as a DataFrame
studentData = pd.read_sql(selectAllStudents, conn)

print("All Students:")
print(studentData)

### Creating the Courses Table

Now create a second table to store course information.

In [ ]:
# Create the 'courses' table:
# - courseId: INTEGER PRIMARY KEY (unique course identifier)
# - courseName: TEXT (name of the course)
# - credits: INTEGER (number of credit hours)

createCoursesTable = """
CREATE TABLE courses (
    courseId INTEGER PRIMARY KEY,
    courseName TEXT,
    credits INTEGER
);
"""

conn.execute(createCoursesTable)
conn.commit()

print("Table 'courses' created successfully.")

### Inserting Course Records

In [ ]:
# Insert course records (separate conn.execute() calls for each)

insertCourse1 = """
INSERT INTO courses (courseName, credits)
VALUES ('Biology 101', 3);
"""
conn.execute(insertCourse1)
conn.commit()

insertCourse2 = """
INSERT INTO courses (courseName, credits)
VALUES ('Chemistry 101', 4);
"""
conn.execute(insertCourse2)
conn.commit()

insertCourse3 = """
INSERT INTO courses (courseName, credits)
VALUES ('English 10', 3);
"""
conn.execute(insertCourse3)
conn.commit()

print("Course records inserted.")

### Verify Courses

In [ ]:
# Select all courses and display as a DataFrame
selectAllCourses = "SELECT * FROM courses;"
courseData = pd.read_sql(selectAllCourses, conn)

print("All Courses:")
print(courseData)

---

## Try This: Create an Enrollments Table

Now it's your turn. Create an **enrollments** table that links students to courses. The table should have:
- enrollmentId INTEGER PRIMARY KEY
- studentId INTEGER (references the student)
- courseId INTEGER (references the course)
- enrollmentDate TEXT (date the student enrolled)

Then insert at least 3 enrollment records.

**Hint:** You don't need to worry about FOREIGN KEY constraints yet—just use the table structure above.

In [ ]:
# Create the enrollments table here
# Your code here

In [ ]:
# Insert at least 3 enrollment records
# Your code here

In [ ]:
# Verify your enrollments table with a SELECT query
# Your code here

---

## Sub-Lesson 08b — UPDATE & DELETE

Now that you have data, you'll learn how to modify and remove records. The key principle: **always test your WHERE clause first with a SELECT before you UPDATE or DELETE**.

### Test-First Approach: Preview Before Update

When you want to update a record, first run a SELECT with the same WHERE clause to see which rows will be affected.

In [ ]:
# STEP 1: Test the WHERE clause with SELECT
# This shows which row(s) will be updated
testSelect = """
SELECT * FROM students
WHERE firstName = 'Alice';
"""

testResult = pd.read_sql(testSelect, conn)
print("Record(s) to be updated:")
print(testResult)

In [ ]:
# STEP 2: Now execute the UPDATE
# We're changing Alice's GPA from 3.85 to 3.92
updateAliceGPA = """
UPDATE students
SET gpa = 3.92
WHERE firstName = 'Alice';
"""

conn.execute(updateAliceGPA)
conn.commit()  # Don't forget to commit!

print("Update executed.")

In [ ]:
# STEP 3: Verify the update with SELECT
verifyUpdate = """
SELECT * FROM students
WHERE firstName = 'Alice';
"""

verifyResult = pd.read_sql(verifyUpdate, conn)
print("Alice's updated record:")
print(verifyResult)

### Updating Multiple Rows

You can update more than one row with a single UPDATE statement by using an appropriate WHERE clause.

In [ ]:
# STEP 1: Test with SELECT
# Show all students in grade 10 or below
testSelectMultiple = """
SELECT * FROM students
WHERE grade <= 10;
"""

testMultiResult = pd.read_sql(testSelectMultiple, conn)
print("Students in grade 10 or below (will be updated):")
print(testMultiResult)

In [ ]:
# STEP 2: Update grade to 10 for all students currently in grade 9
updateMultiple = """
UPDATE students
SET grade = 10
WHERE grade = 9;
"""

conn.execute(updateMultiple)
conn.commit()

print("Multiple records updated.")

In [ ]:
# STEP 3: Verify all students (see the updated grades)
verifyMultiple = "SELECT * FROM students;"
verifyMultiResult = pd.read_sql(verifyMultiple, conn)
print("All students (updated):")
print(verifyMultiResult)

### DELETE: Test First, Then Execute

The same test-first approach applies to DELETE statements. Always preview with SELECT before removing data.

In [ ]:
# STEP 1: Test the WHERE clause with SELECT
# This shows which row(s) will be deleted
testDeleteSelect = """
SELECT * FROM students
WHERE firstName = 'Charlie';
"""

testDeleteResult = pd.read_sql(testDeleteSelect, conn)
print("Record(s) to be deleted:")
print(testDeleteResult)

In [ ]:
# STEP 2: Execute the DELETE
deleteCharlie = """
DELETE FROM students
WHERE firstName = 'Charlie';
"""

conn.execute(deleteCharlie)
conn.commit()  # Don't forget to commit!

print("Delete executed.")

In [ ]:
# STEP 3: Verify the deletion
verifyDelete = "SELECT * FROM students;"
verifyDeleteResult = pd.read_sql(verifyDelete, conn)
print("All students (Charlie removed):")
print(verifyDeleteResult)

### DANGER: What Happens with UPDATE or DELETE Without WHERE?

**WARNING:** If you execute an UPDATE or DELETE without a WHERE clause, it affects **ALL rows** in the table. This is destructive and should never be done accidentally.

For example (DO NOT RUN THIS):
```sql
UPDATE students SET gpa = 0.0;  -- This sets EVERY student's GPA to 0.0!
DELETE FROM students;            -- This deletes EVERY student record!
```

Always include a WHERE clause. Always test first with SELECT.

---

## Try This: UPDATE and DELETE Practice

Using the test-first approach, complete the following tasks:

1. **Update Bob's GPA** to 3.50 (test with SELECT first, then UPDATE, then verify)
2. **Update all grade 12 students** to have a minimum GPA of 3.80 if they don't already (test first, update, verify)
3. **Delete the course** with the lowest number of credits (test first, then delete, then verify)

In [ ]:
# Task 1: Update Bob's GPA
# Test with SELECT:
# Your code here

In [ ]:
# Execute the UPDATE:
# Your code here

In [ ]:
# Verify the update:
# Your code here

In [ ]:
# Task 2: Update all grade 12 students
# Test with SELECT:
# Your code here

In [ ]:
# Execute the UPDATE (set their gpa to 3.80):
# Your code here

In [ ]:
# Verify the update:
# Your code here

In [ ]:
# Task 3: Delete the course with the lowest credits
# Test with SELECT (find the course with MIN credits):
# Your code here

In [ ]:
# Execute the DELETE:
# Your code here

In [ ]:
# Verify the deletion:
# Your code here

---

## Sub-Lesson 08c — Constraints

Constraints enforce data quality by restricting what values can be stored in your database. Common constraints include NOT NULL, UNIQUE, DEFAULT, CHECK, and FOREIGN KEY.

### Drop Old Tables and Recreate with Constraints

We'll remove the old tables and rebuild them with proper constraints.

In [ ]:
# Drop the old tables to start fresh
# (We'll recreate them with constraints)

dropEnrollments = "DROP TABLE IF EXISTS enrollments;"
dropCourses = "DROP TABLE IF EXISTS courses;"
dropStudents = "DROP TABLE IF EXISTS students;"

conn.execute(dropEnrollments)
conn.execute(dropCourses)
conn.execute(dropStudents)
conn.commit()

print("Old tables dropped.")

### Creating Tables with Constraints

Now we'll recreate the students table with the following constraints:
- **NOT NULL**: firstName and lastName are required (cannot be empty)
- **UNIQUE**: email must be unique (no two students can have the same email)
- **DEFAULT**: grade defaults to 9 if not specified
- **CHECK**: gpa must be between 0.0 and 4.0

In [ ]:
# Create the students table with constraints:
# - NOT NULL on firstName and lastName (required fields)
# - UNIQUE on email (no duplicates allowed)
# - DEFAULT on grade (defaults to 9)
# - CHECK on gpa (must be 0.0 to 4.0)

createStudentsWithConstraints = """
CREATE TABLE students (
    studentId INTEGER PRIMARY KEY,
    firstName TEXT NOT NULL,
    lastName TEXT NOT NULL,
    email TEXT UNIQUE,
    grade INTEGER DEFAULT 9,
    gpa REAL CHECK(gpa >= 0.0 AND gpa <= 4.0)
);
"""

conn.execute(createStudentsWithConstraints)
conn.commit()

print("Table 'students' created with constraints.")

In [ ]:
# Create the courses table
createCoursesConstraints = """
CREATE TABLE courses (
    courseId INTEGER PRIMARY KEY,
    courseName TEXT NOT NULL,
    credits INTEGER
);
"""

conn.execute(createCoursesConstraints)
conn.commit()

print("Table 'courses' created.")

In [ ]:
# Create the enrollments table with FOREIGN KEY constraints
# FOREIGN KEY ensures that studentId references an actual student
# and courseId references an actual course

createEnrollmentsConstraints = """
CREATE TABLE enrollments (
    enrollmentId INTEGER PRIMARY KEY,
    studentId INTEGER NOT NULL,
    courseId INTEGER NOT NULL,
    enrollmentDate TEXT,
    FOREIGN KEY (studentId) REFERENCES students(studentId),
    FOREIGN KEY (courseId) REFERENCES courses(courseId)
);
"""

conn.execute(createEnrollmentsConstraints)
conn.commit()

print("Table 'enrollments' created with FOREIGN KEY constraints.")

### Inserting Valid Data

With constraints in place, let's insert data that satisfies all the rules.

In [ ]:
# Insert valid student records
# - All have firstName and lastName (NOT NULL constraint)
# - All have unique email (UNIQUE constraint)
# - GPA values are between 0.0 and 4.0 (CHECK constraint)

insertValid1 = """
INSERT INTO students (firstName, lastName, email, grade, gpa)
VALUES ('Emma', 'Watson', 'emma.watson@school.edu', 11, 3.85);
"""
conn.execute(insertValid1)
conn.commit()

insertValid2 = """
INSERT INTO students (firstName, lastName, email, grade, gpa)
VALUES ('Frank', 'Miller', 'frank.miller@school.edu', 10, 3.45);
"""
conn.execute(insertValid2)
conn.commit()

# Note: grade is not specified, so it defaults to 9
insertValid3 = """
INSERT INTO students (firstName, lastName, email, gpa)
VALUES ('Grace', 'Hopper', 'grace.hopper@school.edu', 3.95);
"""
conn.execute(insertValid3)
conn.commit()

print("Valid student records inserted.")

In [ ]:
# Verify the students (notice Grace's default grade of 9)
verifyStudents = "SELECT * FROM students;"
studentsData = pd.read_sql(verifyStudents, conn)
print("All students (with constraints applied):")
print(studentsData)

In [ ]:
# Insert courses
insertCourse1 = """
INSERT INTO courses (courseName, credits)
VALUES ('Data Science 101', 4);
"""
conn.execute(insertCourse1)
conn.commit()

insertCourse2 = """
INSERT INTO courses (courseName, credits)
VALUES ('SQL Fundamentals', 3);
"""
conn.execute(insertCourse2)
conn.commit()

print("Courses inserted.")

In [ ]:
# Insert valid enrollments
# studentId and courseId must reference actual records in their respective tables

insertEnrollment1 = """
INSERT INTO enrollments (studentId, courseId, enrollmentDate)
VALUES (1, 1, '2024-01-15');
"""
conn.execute(insertEnrollment1)
conn.commit()

insertEnrollment2 = """
INSERT INTO enrollments (studentId, courseId, enrollmentDate)
VALUES (2, 2, '2024-01-16');
"""
conn.execute(insertEnrollment2)
conn.commit()

print("Valid enrollment records inserted.")

### Attempting to Violate Constraints

Now let's try to insert data that violates constraints. SQLite will reject these inserts with an error message.

**NOTE:** The following code blocks show SQL statements that would cause errors. In a normal Python script, you'd use try/except to catch these errors, but in this notebook, we'll show the SQL and explain what error would occur.

#### Constraint Violation 1: Inserting NULL into a NOT NULL column

This SQL would fail:
```sql
INSERT INTO students (firstName, email, gpa)
VALUES (NULL, 'no.name@school.edu', 3.50);
```

**Error:** `NOT NULL constraint failed: students.firstName`

The firstName column is NOT NULL, so every student record must have a first name.

#### Constraint Violation 2: Inserting a duplicate UNIQUE value

This SQL would fail:
```sql
INSERT INTO students (firstName, lastName, email, gpa)
VALUES ('Henry', 'Ford', 'emma.watson@school.edu', 3.20);
```

**Error:** `UNIQUE constraint failed: students.email`

The email 'emma.watson@school.edu' already exists for Emma Watson. Email must be unique.

#### Constraint Violation 3: Violating a CHECK constraint

This SQL would fail:
```sql
INSERT INTO students (firstName, lastName, email, gpa)
VALUES ('Iris', 'Knight', 'iris.knight@school.edu', 4.50);
```

**Error:** `CHECK constraint failed: students`

The GPA 4.50 violates the CHECK constraint, which requires `gpa >= 0.0 AND gpa <= 4.0`. GPA must be between 0.0 and 4.0.

#### Constraint Violation 4: Violating a FOREIGN KEY constraint

This SQL would fail:
```sql
INSERT INTO enrollments (studentId, courseId, enrollmentDate)
VALUES (999, 1, '2024-02-01');
```

**Error:** `FOREIGN KEY constraint failed`

There is no student with studentId = 999. The FOREIGN KEY constraint ensures referential integrity—you can only enroll a student that actually exists.

---

## Try This: Add Constraints to Your Own Tables

Create a new table called **teachers** with the following structure and constraints:

- teacherId INTEGER PRIMARY KEY
- firstName TEXT (NOT NULL)
- lastName TEXT (NOT NULL)
- email TEXT (UNIQUE)
- yearsExperience INTEGER (CHECK that it's >= 0)
- department TEXT (DEFAULT 'General')

Then:
1. Insert at least 2 valid teacher records
2. Verify the data with SELECT
3. Try to insert a record that violates a constraint (explain in a markdown cell what error would occur)

In [ ]:
# Create the teachers table with constraints
# Your code here

In [ ]:
# Insert at least 2 valid teacher records
# Your code here

In [ ]:
# Verify the teachers table
# Your code here

#### Attempting a Constraint Violation on the Teachers Table

Explain in your own words what would happen if you tried this INSERT:

```sql
INSERT INTO teachers (lastName, email, yearsExperience, department)
VALUES ('Smith', 'john.smith@school.edu', -5, 'Math');
```

**Your explanation here (fill in):**

---

## Summary

In this lesson, you learned:

1. **CREATE TABLE & INSERT**
   - Define table structure with columns and data types
   - Insert single and multiple rows
   - Use `conn.commit()` to save changes
   - Verify data with `pd.read_sql()`

2. **UPDATE & DELETE**
   - Always test your WHERE clause with SELECT first
   - Use UPDATE to modify existing records
   - Use DELETE to remove records
   - Never execute UPDATE or DELETE without a WHERE clause

3. **Constraints**
   - NOT NULL: Make a column required
   - UNIQUE: Ensure no duplicate values
   - DEFAULT: Specify a default value
   - CHECK: Validate data with conditions
   - FOREIGN KEY: Link tables together and ensure referential integrity

These concepts form the foundation for building reliable, maintainable databases.

In [ ]:
# Before you finish, close the database connection
conn.close()
print("Database connection closed.")