# dbApps08 DIY Task: Build a Complete Database

This is your independent assessment for sub-lesson 08d.

You will design and build your own multi-table database from scratch, applying all the concepts from dbApps08:
- Table design with primary and foreign keys
- Data constraints (NOT NULL, UNIQUE, DEFAULT, CHECK, FOREIGN KEY)
- INSERT, UPDATE, and DELETE operations
- Querying with SELECT, WHERE, GROUP BY, and JOIN

**Database**: `myDatabase.db`

In [ ]:
# Import required libraries
import pandas as pd
import sqlite3

# Create (or connect to) the database
conn = sqlite3.connect("myDatabase.db")
print("Database connected: myDatabase.db")

---

## TASK 1: Choose a Scenario

Pick one of these scenarios or propose your own:
1. **Pet Adoption Center** - Manage animals available for adoption, adoptions, and staff
2. **Fitness Tracker** - Track gym members, workouts, equipment, and goals
3. **Recipe Book** - Catalog recipes, ingredients, nutritional info, and ratings
4. **Video Game Library** - Track games, genres, platforms, reviews, and playtime
5. **Your Own Scenario** - Design a database for something you're interested in

Write a brief description (2-3 sentences) of what your database will track.

### My Scenario

**Scenario Name**: [YOUR CHOICE]

**Description**: [Write 2-3 sentences describing what your database will track and why these tables matter]

---

## TASK 2: Design Your Tables (Planning)

Before writing any SQL, plan your database structure.

Design **3 tables** with:
- Table name
- Column names and data types
- Constraints (PRIMARY KEY, NOT NULL, UNIQUE, DEFAULT, CHECK, FOREIGN KEY)

Example format:
```
TABLE: customers
- customerId INTEGER PRIMARY KEY AUTOINCREMENT
- firstName TEXT NOT NULL
- email TEXT UNIQUE
- joinDate TEXT DEFAULT CURRENT_DATE
```

### Table 1: [YOUR TABLE NAME]

```
TABLE: [table name]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- ... (add more columns)
```

### Table 2: [YOUR TABLE NAME]

```
TABLE: [table name]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- ... (add more columns)
```

### Table 3: [YOUR TABLE NAME]

```
TABLE: [table name]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- [columnName] [DATA_TYPE] [CONSTRAINTS]
- ... (add more columns)
```

---

## TASK 3: CREATE TABLE Statements

Write the SQL to create all 3 tables.

Requirements:
- At least 1 PRIMARY KEY per table
- At least 2 NOT NULL constraints
- At least 1 UNIQUE constraint
- At least 1 DEFAULT value
- At least 1 CHECK constraint
- At least 1 FOREIGN KEY

(These can be distributed across the 3 tables.)

In [ ]:
# Create Table 1
createTable1SQL = """
CREATE TABLE [TABLE_NAME] (
    [columns and constraints]
)
"""

conn.execute(createTable1SQL)
conn.commit()
print("✓ Table 1 created")

In [ ]:
# Create Table 2
createTable2SQL = """
CREATE TABLE [TABLE_NAME] (
    [columns and constraints]
)
"""

conn.execute(createTable2SQL)
conn.commit()
print("✓ Table 2 created")

In [ ]:
# Create Table 3
createTable3SQL = """
CREATE TABLE [TABLE_NAME] (
    [columns and constraints]
)
"""

conn.execute(createTable3SQL)
conn.commit()
print("✓ Table 3 created")

---

## TASK 4: INSERT Data

Insert at least 5 records into each table using separate INSERT statements.
Make sure the data is realistic and respects all constraints.

### Insert into Table 1

In [ ]:
# Insert 5+ records into Table 1
insert1_1 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert1_2 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert1_3 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert1_4 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert1_5 = "INSERT INTO [TABLE_NAME] VALUES (...)"

conn.execute(insert1_1)
conn.execute(insert1_2)
conn.execute(insert1_3)
conn.execute(insert1_4)
conn.execute(insert1_5)
conn.commit()
print("✓ 5 records inserted into Table 1")

### Insert into Table 2

In [ ]:
# Insert 5+ records into Table 2
insert2_1 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert2_2 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert2_3 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert2_4 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert2_5 = "INSERT INTO [TABLE_NAME] VALUES (...)"

conn.execute(insert2_1)
conn.execute(insert2_2)
conn.execute(insert2_3)
conn.execute(insert2_4)
conn.execute(insert2_5)
conn.commit()
print("✓ 5 records inserted into Table 2")

### Insert into Table 3

In [ ]:
# Insert 5+ records into Table 3
insert3_1 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert3_2 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert3_3 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert3_4 = "INSERT INTO [TABLE_NAME] VALUES (...)"
insert3_5 = "INSERT INTO [TABLE_NAME] VALUES (...)"

conn.execute(insert3_1)
conn.execute(insert3_2)
conn.execute(insert3_3)
conn.execute(insert3_4)
conn.execute(insert3_5)
conn.commit()
print("✓ 5 records inserted into Table 3")

---

## TASK 5: VERIFY Data

SELECT * from each table to confirm data was loaded correctly.

In [ ]:
# Display Table 1
table1Data = pd.read_sql("SELECT * FROM [TABLE_NAME]", conn)
print("Table 1:")
print(table1Data)
print()

In [ ]:
# Display Table 2
table2Data = pd.read_sql("SELECT * FROM [TABLE_NAME]", conn)
print("Table 2:")
print(table2Data)
print()

In [ ]:
# Display Table 3
table3Data = pd.read_sql("SELECT * FROM [TABLE_NAME]", conn)
print("Table 3:")
print(table3Data)

---

## TASK 6: UPDATE Operations

Perform **2 UPDATE operations** using a test-first approach:
1. SELECT to view the current state
2. Execute the UPDATE
3. SELECT again to verify the change

### UPDATE 1

In [ ]:
# Step 1: View the current state
beforeUpdate1 = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("BEFORE UPDATE 1:")
print(beforeUpdate1)
print()

In [ ]:
# Step 2: Execute the UPDATE
update1SQL = "UPDATE [TABLE_NAME] SET [column] = [value] WHERE [condition]"
conn.execute(update1SQL)
conn.commit()
print("✓ UPDATE 1 executed")
print()

In [ ]:
# Step 3: Verify the change
afterUpdate1 = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("AFTER UPDATE 1:")
print(afterUpdate1)

### UPDATE 2

In [ ]:
# Step 1: View the current state
beforeUpdate2 = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("BEFORE UPDATE 2:")
print(beforeUpdate2)
print()

In [ ]:
# Step 2: Execute the UPDATE
update2SQL = "UPDATE [TABLE_NAME] SET [column] = [value] WHERE [condition]"
conn.execute(update2SQL)
conn.commit()
print("✓ UPDATE 2 executed")
print()

In [ ]:
# Step 3: Verify the change
afterUpdate2 = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("AFTER UPDATE 2:")
print(afterUpdate2)

---

## TASK 7: DELETE Operation

Perform **1 DELETE operation** using a test-first approach:
1. SELECT to view current state
2. Execute the DELETE
3. SELECT again to verify deletion

In [ ]:
# Step 1: View the current state
beforeDelete = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("BEFORE DELETE:")
print(beforeDelete)
print(f"Total records: {len(beforeDelete)}")
print()

In [ ]:
# Step 2: Execute the DELETE
deleteSql = "DELETE FROM [TABLE_NAME] WHERE [condition]"
conn.execute(deleteSql)
conn.commit()
print("✓ DELETE executed")
print()

In [ ]:
# Step 3: Verify deletion
afterDelete = pd.read_sql("SELECT * FROM [TABLE_NAME] WHERE [condition]", conn)
print("AFTER DELETE:")
print(afterDelete)
print(f"Total records: {len(afterDelete)}")

---

## TASK 8: Complex Queries

Write 3 queries demonstrating different SQL techniques:
1. **SELECT with WHERE** - Filter rows based on conditions
2. **GROUP BY with aggregate** - Group and summarize data (COUNT, SUM, AVG, etc.)
3. **JOIN** - Combine data from 2 tables

### Query 1: SELECT with WHERE

In [ ]:
# Write a query that filters rows based on specific conditions
query1SQL = "SELECT * FROM [TABLE_NAME] WHERE [condition]"
query1Result = pd.read_sql(query1SQL, conn)
print("Query 1 Result:")
print(query1Result)

### Query 2: GROUP BY with Aggregate

In [ ]:
# Write a query that groups data and uses an aggregate function (COUNT, SUM, AVG, MAX, MIN)
query2SQL = "SELECT [column], COUNT(*) as [count] FROM [TABLE_NAME] GROUP BY [column]"
query2Result = pd.read_sql(query2SQL, conn)
print("Query 2 Result:")
print(query2Result)

### Query 3: JOIN

In [ ]:
# Write a query that JOINs two tables together
query3SQL = """
SELECT * FROM [TABLE_1]
JOIN [TABLE_2] ON [TABLE_1].[id] = [TABLE_2].[foreign_key]
"""
query3Result = pd.read_sql(query3SQL, conn)
print("Query 3 Result:")
print(query3Result)

---

## Summary

Congratulations! You have successfully:
1. Designed a database schema with multiple tables
2. Created tables with appropriate constraints
3. Inserted realistic data
4. Performed UPDATE and DELETE operations
5. Written complex queries using WHERE, GROUP BY, and JOIN

This demonstrates a comprehensive understanding of relational database design and SQL operations.