# dbApps04b Task: Multi-Condition SQL Queries

**Lesson:** 04b — AND/OR/NOT, LIKE, BETWEEN, IN

## Setup

Import necessary libraries and connect to the titanic.db database.

In [ ]:
# Import pandas and sqlite3 libraries
import pandas as pd
import sqlite3
import os

In [ ]:
# Connect to the titanic.db database
db_path = 'titanic.db'
csv_path = 'Titanic Dataset.csv'

if not os.path.exists(db_path):
    df = pd.read_csv(csv_path)
    conn = sqlite3.connect(db_path)
    df.to_sql('passengers', conn, index=False, if_exists='replace')
    print("Database created from CSV.")
else:
    conn = sqlite3.connect(db_path)
    print("Connected to existing titanic.db.")

## Part 1: AND/OR/NOT

Practice using Boolean logic operators to combine multiple conditions.

### Task 1.1

Find female survivors (sex = 'female' AND survived = 1). Print count.

In [ ]:
# Query to find female passengers who survived using AND operator
query_1_1 = """
SELECT *
FROM passengers
WHERE sex = 'female' AND survived = 1
"""

result_1_1 = pd.read_sql(query_1_1, conn)
print(f"Number of female survivors: {len(result_1_1)}")
result_1_1.head()

### Task 1.2

Find first OR second class passengers. Print count.

In [ ]:
# Query to find passengers in first or second class using OR operator
query_1_2 = """
SELECT *
FROM passengers
WHERE pclass = 1 OR pclass = 2
"""

result_1_2 = pd.read_sql(query_1_2, conn)
print(f"Number of first or second class passengers: {len(result_1_2)}")
result_1_2.head()

### Task 1.3

Find male passengers who did NOT survive. Print count.

In [ ]:
# Query to find male passengers who did not survive using NOT or <> operator
query_1_3 = """
SELECT *
FROM passengers
WHERE sex = 'male' AND survived = 0
"""

result_1_3 = pd.read_sql(query_1_3, conn)
print(f"Number of male passengers who did not survive: {len(result_1_3)}")
result_1_3.head()

### Task 1.4

Find first class female passengers. Show name, pclass, sex for first 10.

In [ ]:
# Query to find first class female passengers using AND operator
query_1_4 = """
SELECT name, pclass, sex
FROM passengers
WHERE pclass = 1 AND sex = 'female'
LIMIT 10
"""

result_1_4 = pd.read_sql(query_1_4, conn)
result_1_4

## Part 2: LIKE

Practice using the LIKE operator for pattern matching in text columns.

### Task 2.1

Find passengers whose name contains 'Mrs.' — show name and survived.

In [ ]:
# Query to find passengers with 'Mrs.' in their name using LIKE operator
# The % wildcard matches any number of characters before and after the pattern
query_2_1 = """
SELECT name, survived
FROM passengers
WHERE name LIKE '%Mrs.%'
"""

result_2_1 = pd.read_sql(query_2_1, conn)
result_2_1

### Task 2.2

Find passengers whose name starts with 'A'. Print count.

In [ ]:
# Query to find passengers whose name starts with 'A' using LIKE with % at end
query_2_2 = """
SELECT *
FROM passengers
WHERE name LIKE 'A%'
"""

result_2_2 = pd.read_sql(query_2_2, conn)
print(f"Number of passengers whose name starts with 'A': {len(result_2_2)}")
result_2_2.head()

### Task 2.3

Find passengers whose name contains 'Master' (young boys were called Master). Show name and age.

In [ ]:
# Query to find passengers with 'Master' in their name using LIKE
query_2_3 = """
SELECT name, age
FROM passengers
WHERE name LIKE '%Master%'
"""

result_2_3 = pd.read_sql(query_2_3, conn)
result_2_3

## Part 3: BETWEEN and IN

Practice using BETWEEN for range queries and IN for multiple specific values.

### Task 3.1

Find passengers aged 20 to 30 (BETWEEN). Print count.

In [ ]:
# Query to find passengers aged 20 to 30 using BETWEEN operator
# BETWEEN is inclusive of both endpoints
query_3_1 = """
SELECT *
FROM passengers
WHERE age BETWEEN 20 AND 30
"""

result_3_1 = pd.read_sql(query_3_1, conn)
print(f"Number of passengers aged 20 to 30: {len(result_3_1)}")
result_3_1.head()

### Task 3.2

Find passengers who embarked at Cherbourg or Queenstown (IN). Print count.

In [ ]:
# Query to find passengers from Cherbourg (C) or Queenstown (Q) using IN operator
# IN is more concise than multiple OR conditions
query_3_2 = """
SELECT *
FROM passengers
WHERE embarked IN ('C', 'Q')
"""

result_3_2 = pd.read_sql(query_3_2, conn)
print(f"Number of passengers from Cherbourg or Queenstown: {len(result_3_2)}")
result_3_2.head()

### Task 3.3

Find first and second class passengers (IN) who survived. Print count.

In [ ]:
# Query to find first and second class passengers who survived using IN and AND
query_3_3 = """
SELECT *
FROM passengers
WHERE pclass IN (1, 2) AND survived = 1
"""

result_3_3 = pd.read_sql(query_3_3, conn)
print(f"Number of first and second class survivors: {len(result_3_3)}")
result_3_3.head()

## Close Connection

Always close the database connection when finished.

In [ ]:
# Close the database connection
conn.close()
print("Database connection closed.")