# dbApps08b Task: UPDATE & DELETE with Safety

## Learning Objectives
- Use UPDATE with WHERE clauses to modify records
- Use DELETE with WHERE clauses to remove records
- Apply test-first approach: verify data before making changes
- Understand the danger of missing WHERE clauses

## Scenario
You are managing a **bookstore inventory database** with three tables: `authors`, `books`, and `inventory`. You will practice updating prices, author names, and removing books safely using the test-first approach.

## Setup: Import Libraries & Create Connection

We create a pre-populated bookstore database with sample data so you have something to UPDATE and DELETE.

In [ ]:
import pandas as pd
import sqlite3

# Create a connection to the bookstore database
conn = sqlite3.connect("task08b.db")

print("Database connection established.")

## Populate the Bookstore Database

This section creates and populates the three tables with sample data for you to work with.

In [ ]:
# Create the authors table
conn.execute("""
CREATE TABLE authors (
    authorId INTEGER PRIMARY KEY,
    authorName TEXT,
    country TEXT
)
""")

# Insert sample authors
conn.execute("INSERT INTO authors VALUES (1, 'J.K. Rowling', 'United Kingdom')")
conn.execute("INSERT INTO authors VALUES (2, 'George R.R. Martin', 'United States')")
conn.execute("INSERT INTO authors VALUES (3, 'J.R.R. Tolkien', 'United Kingdom')")
conn.execute("INSERT INTO authors VALUES (4, 'Stephenie Meyer', 'United States')")

# Create the books table
conn.execute("""
CREATE TABLE books (
    bookId INTEGER PRIMARY KEY,
    bookTitle TEXT,
    price REAL,
    authorId INTEGER
)
""")

# Insert sample books
conn.execute("INSERT INTO books VALUES (1, 'Harry Potter and the Philosopher\'s Stone', 12.99, 1)")
conn.execute("INSERT INTO books VALUES (2, 'Harry Potter and the Chamber of Secrets', 12.99, 1)")
conn.execute("INSERT INTO books VALUES (3, 'A Game of Thrones', 18.99, 2)")
conn.execute("INSERT INTO books VALUES (4, 'The Hobbit', 14.50, 3)")
conn.execute("INSERT INTO books VALUES (5, 'Twilight', 11.00, 4)")
conn.execute("INSERT INTO books VALUES (6, 'Eclipse', 10.50, 4)")

# Create the inventory table
conn.execute("""
CREATE TABLE inventory (
    inventoryId INTEGER PRIMARY KEY,
    bookId INTEGER,
    quantityInStock INTEGER
)
""")

# Insert inventory data
conn.execute("INSERT INTO inventory VALUES (1, 1, 15)")
conn.execute("INSERT INTO inventory VALUES (2, 2, 8)")
conn.execute("INSERT INTO inventory VALUES (3, 3, 5)")
conn.execute("INSERT INTO inventory VALUES (4, 4, 12)")
conn.execute("INSERT INTO inventory VALUES (5, 5, 0)")
conn.execute("INSERT INTO inventory VALUES (6, 6, 0)")

# Commit all changes
conn.commit()

print("Bookstore database created and populated with sample data.")

---

## Task 1: Test First - Find a Specific Book

Before updating, always test first to see the data you're working with.

Write a SELECT query to find the book with `bookId = 3`. Display the result.

In [ ]:
# Your code here

---

## Task 2: UPDATE a Single Book's Price

Update the book from Task 1 (bookId = 3) with a new price of 19.99. Then verify the change with another SELECT query.

In [ ]:
# Your code here

---

## Task 3: Test First - Find All Books by an Author

Before updating an author's name, test first to see all their books.

Write a SELECT query to find all books by `authorId = 1` (J.K. Rowling). Display the book titles and their current prices.

In [ ]:
# Your code here

---

## Task 4: UPDATE an Author's Name

Fix a typo in the author's name. Change `authorId = 2` (George R.R. Martin) to a corrected name. Update the name in the `authors` table. Then verify the change with a SELECT query.

In [ ]:
# Your code here

---

## Task 5: UPDATE Multiple Rows with a Condition

Apply a price increase to books that need it.

**Test First**: Write a SELECT to find all books with `price < 15.00`. Display them.

**Then Update**: Increase all of those book prices by 10% (multiply price by 1.10).

**Verify**: Display the updated prices.

In [ ]:
# Your code here

---

## Task 6: Test First - Find Out-of-Stock Books

Before deleting, always check what you're about to remove.

Write a SELECT query to find all books where `quantityInStock = 0` (out-of-stock). Join with the `books` table to show book titles.

In [ ]:
# Your code here

---

## Task 7: DELETE Out-of-Stock Books

Remove all out-of-stock books from the `books` table (where the inventory quantity is 0).

**Important**: First delete from `inventory`, then delete from `books` (this avoids foreign key issues).

Then verify that the books are gone with a SELECT query.

In [ ]:
# Your code here

---

## Task 8: DANGER QUESTION

**Answer this question in the markdown cell below:**

What would happen if you ran the following query **without a WHERE clause**?

```sql
DELETE FROM books;
```

Explain why the WHERE clause is critical.

Your answer here:

---

## Task 9: DELETE an Author and Their Books

Remove `authorId = 4` (Stephenie Meyer) and all her books from the database.

**Steps**:
1. Test first: Find all books by `authorId = 4`
2. Delete the inventory records for those books
3. Delete the books themselves
4. Delete the author from the `authors` table
5. Verify the author and books are gone

In [ ]:
# Your code here

---

## Task 10: Final Verification

Display the current state of all three tables to confirm all updates and deletions are complete.

In [ ]:
# Your code here

---

## Cleanup (Optional)

When you're done, close the database connection.

In [ ]:
# Close the connection when finished
conn.close()
print("Database connection closed.")