# dbApps08a Task: CREATE TABLE & INSERT INTO

## Learning Objectives
- Create tables with appropriate data types
- Insert records into tables
- Verify data with SELECT queries
- Join tables together

## Scenario
You are building a **music collection database** to track artists, their albums, and songs. You'll create three related tables and populate them with sample data.

## Setup: Import Libraries & Create Connection

In [ ]:
import pandas as pd
import sqlite3

# Create a connection to the database
# If the file doesn't exist, SQLite will create it
conn = sqlite3.connect("task08a.db")

print("Database connection established.")

---

## Task 1: Create the ARTISTS Table

Create a table called `artists` with the following columns:
- `artistId` (INTEGER PRIMARY KEY)
- `artistName` (TEXT)
- `genre` (TEXT)
- `country` (TEXT)

In [ ]:
# Your code here

---

## Task 2: Insert 5 Artists into the ARTISTS Table

Insert the following artists with separate INSERT statements:

| artistId | artistName | genre | country |
|----------|-----------|-------|----------|
| 1 | The Beatles | Rock | United Kingdom |
| 2 | Miles Davis | Jazz | United States |
| 3 | Adele | Pop | United Kingdom |
| 4 | Beyonce | R&B | United States |
| 5 | David Bowie | Rock | United Kingdom |

In [ ]:
# Your code here

---

## Task 3: Verify All Artists

Write a SELECT query to display all artists in the table.

In [ ]:
# Your code here

---

## Task 4: Create the ALBUMS Table

Create a table called `albums` with the following columns:
- `albumId` (INTEGER PRIMARY KEY)
- `albumTitle` (TEXT)
- `releaseYear` (INTEGER)
- `artistId` (INTEGER) — this links to the artists table

In [ ]:
# Your code here

---

## Task 5: Insert 5 Albums into the ALBUMS Table

Insert the following albums. Note: `artistId` links to the artists you created:

| albumId | albumTitle | releaseYear | artistId |
|---------|-----------|-------------|----------|
| 1 | Abbey Road | 1969 | 1 |
| 2 | Kind of Blue | 1959 | 2 |
| 3 | 25 | 2015 | 3 |
| 4 | Lemonade | 2016 | 4 |
| 5 | Ziggy Stardust | 1972 | 5 |

In [ ]:
# Your code here

---

## Task 6: Verify All Albums

Write a SELECT query to display all albums in the table.

In [ ]:
# Your code here

---

## Task 7: Create the SONGS Table

Create a table called `songs` with the following columns:
- `songId` (INTEGER PRIMARY KEY)
- `songTitle` (TEXT)
- `durationSeconds` (INTEGER)
- `albumId` (INTEGER) — this links to the albums table

In [ ]:
# Your code here

---

## Task 8: Insert 8 Songs into the SONGS Table

Insert the following songs across different albums:

| songId | songTitle | durationSeconds | albumId |
|--------|-----------|-----------------|----------|
| 1 | Come Together | 259 | 1 |
| 2 | Something | 183 | 1 |
| 3 | So What | 567 | 2 |
| 4 | Freddie Freeloader | 561 | 2 |
| 5 | Hello | 295 | 3 |
| 6 | I Miss You | 238 | 3 |
| 7 | Freedom | 405 | 4 |
| 8 | Space Oddity | 325 | 5 |

In [ ]:
# Your code here

---

## Task 9: Verify All Three Tables Exist

Write SELECT queries to display all records from each table:
- Display all songs
- Confirm all three tables are populated correctly

In [ ]:
# Your code here

---

## Task 10: Join Artists and Albums

Write a SQL query that joins the `artists` and `albums` tables to show:
- Artist names
- Their album titles
- Album release year

This demonstrates how foreign keys connect tables together.

In [ ]:
# Your code here

---

## Cleanup (Optional)

When you're done, close the database connection.

In [ ]:
# Close the connection when finished
conn.close()
print("Database connection closed.")