# dbApps03b Task: CSV to SQLite & First Queries
**Lesson:** 03b — SQLite, CSV → DB, First SQL Query

## Part 1: Create the Database

### Task 1.1: Import Libraries
Import pandas and sqlite3.

In [ ]:
# Import pandas and sqlite3 for reading CSV and working with SQLite databases

### Task 1.2: Load Titanic Dataset
Load "Titanic Dataset.csv" into a DataFrame called `titanic`. Print the shape of the DataFrame.

In [ ]:
# Load the Titanic CSV file into a DataFrame and print its shape (rows, columns)

### Task 1.3: Create SQLite Database
Create a SQLite database called "titanic.db" and save the DataFrame as a table called "passengers". Print a confirmation message.

In [ ]:
# Create a SQLite database connection, save the DataFrame as a table, and confirm success

## Part 2: Your First Queries

### Task 2.1: Get All Columns, First 5 Rows
Write a SQL query to get ALL columns for the first 5 rows from the passengers table.

In [ ]:
# Query: SELECT * FROM passengers LIMIT 5
# Execute this query and display the results

### Task 2.2: Get Name and Age Columns, First 10 Rows
Write a SQL query to get just the name and age columns for the first 10 rows.

In [ ]:
# Query: SELECT name, age FROM passengers LIMIT 10
# Execute this query and display the results

### Task 2.3: Get Name, Survived, and Pclass Columns, First 10 Rows
Write a SQL query to get name, survived, and pclass for the first 10 rows.

In [ ]:
# Query: SELECT name, survived, pclass FROM passengers LIMIT 10
# Execute this query and display the results

### Task 2.4: Check Table Schema
Use PRAGMA table_info(passengers) to see all column names and their SQL data types. In the markdown cell below, list 3 columns and their SQL data type.

In [ ]:
# Query: PRAGMA table_info(passengers)
# Execute this query to see all column names and data types

**Three columns and their SQL data types:**
1. 
2. 
3.

### Task 2.5: List All Tables
Write a query that uses sqlite_master to list all tables in the database.

In [ ]:
# Query: SELECT name FROM sqlite_master WHERE type='table'
# Execute this query to list all table names in the database

## Part 3: Pandas vs SQL Comparison

### Task 3.1: First 5 Rows — Pandas vs SQL
Get the first 5 rows using PANDAS (.head()). Then get the first 5 rows using SQL (SELECT * LIMIT 5). Print both results side by side.

In [ ]:
# Using Pandas: titanic.head()
print("PANDAS METHOD:")


print("\nSQL METHOD:")
# Using SQL: SELECT * FROM passengers LIMIT 5

### Task 3.2: Name and Age — Pandas vs SQL
Select name and age using PANDAS (titanic[["name", "age"]].head()). Then do the same with SQL. Print both results.

In [ ]:
# Using Pandas: titanic[["name", "age"]].head()
print("PANDAS METHOD:")


print("\nSQL METHOD:")
# Using SQL: SELECT name, age FROM passengers LIMIT 5

### Task 3.3: Comparison Question
In a markdown cell below, answer: Which do you think is easier to read — the pandas way or the SQL way? Why?

**Your answer:**

## Closing the Connection

Always close your database connection when done.

In [ ]:
# Close the database connection