# dbApps04a Task: Basic SQL Queries

**Lesson:** 04a â€” SELECT, FROM, WHERE

## Setup

Import necessary libraries and connect to the titanic.db database. If the database doesn't exist, create it from the CSV file.

In [ ]:
# Import pandas and sqlite3 libraries
import pandas as pd
import sqlite3
import os

In [ ]:
# Create connection to titanic.db; create from CSV if needed
db_path = 'titanic.db'
csv_path = 'Titanic Dataset.csv'

if not os.path.exists(db_path):
    # Read CSV and create database
    df = pd.read_csv(csv_path)
    conn = sqlite3.connect(db_path)
    df.to_sql('passengers', conn, index=False, if_exists='replace')
    print("Database created from CSV.")
else:
    conn = sqlite3.connect(db_path)
    print("Connected to existing titanic.db.")

## Part 1: SELECT Practice

Practice writing basic SELECT queries to retrieve columns from the passengers table.

### Task 1.1

Write a query to get all columns for the first 10 passengers.

In [ ]:
# Query to select all columns for the first 10 passengers using LIMIT
query_1_1 = """
SELECT *
FROM passengers
LIMIT 10
"""

result_1_1 = pd.read_sql(query_1_1, conn)
result_1_1

### Task 1.2

Write a query to get only the name and age columns for the first 10 passengers.

In [ ]:
# Query to select only name and age columns for the first 10 passengers
query_1_2 = """
SELECT name, age
FROM passengers
LIMIT 10
"""

result_1_2 = pd.read_sql(query_1_2, conn)
result_1_2

### Task 1.3

Write a query to get name, survived, pclass, and fare for the first 15 passengers.

In [ ]:
# Query to select name, survived, pclass, and fare for the first 15 passengers
query_1_3 = """
SELECT name, survived, pclass, fare
FROM passengers
LIMIT 15
"""

result_1_3 = pd.read_sql(query_1_3, conn)
result_1_3

### Task 1.4

Write a query to get name, sex, and embarked for the first 5 passengers.

In [ ]:
# Query to select name, sex, and embarked columns for the first 5 passengers
query_1_4 = """
SELECT name, sex, embarked
FROM passengers
LIMIT 5
"""

result_1_4 = pd.read_sql(query_1_4, conn)
result_1_4

## Part 2: WHERE Practice

Practice writing queries with WHERE clauses to filter data based on conditions.

### Task 2.1

Find all first class passengers (pclass = 1). Print how many with len().

In [ ]:
# Query to find all first class passengers using WHERE clause
query_2_1 = """
SELECT *
FROM passengers
WHERE pclass = 1
"""

result_2_1 = pd.read_sql(query_2_1, conn)
print(f"Number of first class passengers: {len(result_2_1)}")
result_2_1.head()

### Task 2.2

Find all passengers who survived. Print how many.

In [ ]:
# Query to find all passengers who survived (survived = 1)
query_2_2 = """
SELECT *
FROM passengers
WHERE survived = 1
"""

result_2_2 = pd.read_sql(query_2_2, conn)
print(f"Number of passengers who survived: {len(result_2_2)}")
result_2_2.head()

### Task 2.3

Find all female passengers. Show first 10.

In [ ]:
# Query to find all female passengers using WHERE clause with sex = 'female'
query_2_3 = """
SELECT *
FROM passengers
WHERE sex = 'female'
LIMIT 10
"""

result_2_3 = pd.read_sql(query_2_3, conn)
result_2_3

### Task 2.4

Find passengers older than 50. Show name and age for first 10.

In [ ]:
# Query to find passengers older than 50, showing name and age columns only
query_2_4 = """
SELECT name, age
FROM passengers
WHERE age > 50
LIMIT 10
"""

result_2_4 = pd.read_sql(query_2_4, conn)
result_2_4

### Task 2.5

Find passengers who paid less than $10 fare. Show name and fare.

In [ ]:
# Query to find passengers with fare less than 10, showing name and fare columns
query_2_5 = """
SELECT name, fare
FROM passengers
WHERE fare < 10
"""

result_2_5 = pd.read_sql(query_2_5, conn)
result_2_5

### Task 2.6

Find passengers from Southampton (embarked = 'S'). Print how many.

In [ ]:
# Query to find all passengers who embarked from Southampton (embarked = 'S')
query_2_6 = """
SELECT *
FROM passengers
WHERE embarked = 'S'
"""

result_2_6 = pd.read_sql(query_2_6, conn)
print(f"Number of passengers from Southampton: {len(result_2_6)}")
result_2_6.head()

## Close Connection

Always close the database connection when finished.

In [ ]:
# Close the database connection
conn.close()
print("Database connection closed.")