# dbApps01 DIY Task: Python & JupyterLab Fundamentals

**Course:** Database Applications Development  

---

## Instructions

Complete all tasks below. Use your walkthrough notebook and study guide as reference.  
If you get stuck, check your `dbApps01_Walkthrough` notebook.

When you're done: Save → Commit → Push to GitHub.

## Data Dictionary: Titanic Dataset

| Column | Description | Data Type | Example |
|--------|-------------|-----------|----------|
| pclass | Passenger class (1st, 2nd, or 3rd) | Integer | 1 |
| survived | Survival status (0 = No, 1 = Yes) | Integer | 1 |
| name | Passenger's full name | String | "Braund, Mr. Owen Harris" |
| sex | Passenger's gender | String | "male" |
| age | Passenger's age in years | Float | 22.0 |
| sibsp | Number of siblings/spouses aboard | Integer | 1 |
| parch | Number of parents/children aboard | Integer | 0 |
| ticket | Ticket number | String | "A/5 21171" |
| fare | Ticket price paid | Float | 7.25 |
| cabin | Cabin number | String | "C85" |
| embarked | Port of embarkation (C, Q, S) | String | "S" |
| boat | Lifeboat number | String | "2" |
| body | Body identification number | Integer | NaN |
| home.dest | Passenger's home/destination | String | "New York, NY" |

## Part 1: Variables & Data Types

### Task 1.1

Create the following variables using proper **camelCase** naming:
- A variable storing your first name (string)
- A variable storing your last name (string)
- A variable storing your grade level (integer)
- A variable storing your current GPA (float)
- A variable storing whether you have a job (boolean)

Print all 5 variables with descriptive labels.

In [ ]:
# Task 1.1: Create 5 variables and print them

### Task 1.2

Use the `type()` function to check and print the data type of each variable from Task 1.1.

In [ ]:
# Task 1.2: Check and print the data type of each variable

### Task 1.3

Fix the variable names below so they follow proper **camelCase** convention. Then print each one.

In [ ]:
# Task 1.3: Fix these variable names to use camelCase and print them
# Fix the names on the left side of the = sign

student_name = "Maria Garcia"
Student Age = 16
FAVORITE_COLOR = "green"
numpets = 2

## Part 2: Math & Calculations

### Task 2.1

A store sells notebooks for $4.25 each and pens for $1.75 each. A student buys 3 notebooks and 5 pens. Calculate:
- The cost of notebooks
- The cost of pens
- The total cost

Store each in a variable using camelCase and print all three with labels.

In [ ]:
# Task 2.1: Calculate store purchase costs

### Task 2.2

A student scored these grades on 4 tests: 92, 85, 78, and 96. Calculate and print:
- The total of all test scores
- The average test score (total divided by 4)

In [ ]:
# Task 2.2: Calculate test score total and average

### Task 2.3

Use an **f-string** to print a summary sentence for Task 2.2, like:  
`The student's average score across 4 tests is 87.75`

In [ ]:
# Task 2.3: Print a summary using an f-string

## Part 3: pandas & the Titanic Dataset

### Task 3.1

Import the pandas library and load `Titanic Dataset.csv` into a DataFrame called `titanic`.

In [ ]:
# Task 3.1: Import pandas and load the Titanic dataset

### Task 3.2

Display the first 8 rows of the dataset.

In [ ]:
# Task 3.2: Display the first 8 rows

### Task 3.3

Print the shape of the dataset and write a comment stating how many rows and columns there are.

In [ ]:
# Task 3.3: Print the shape and add a comment

### Task 3.4

Run `.info()` on the dataset.

In [ ]:
# Task 3.4: Display dataset info

### Task 3.5

Run `.describe()` on the dataset.

In [ ]:
# Task 3.5: Display dataset statistics

### Task 3.6: Short Answer

Answer these questions based on your `.info()` and `.describe()` results:

1. How many passengers are in the dataset? ___

2. How many columns does the dataset have? ___

3. What data type is the 'fare' column? ___

4. What is the average (mean) age of passengers? ___

5. What is the maximum fare paid? ___

6. What percentage of passengers survived? (Hint: mean of 'survived' × 100) ___

## Part 4: Vocabulary & Concepts

### Task 4.1: Definitions

Define the following terms in your own words:

1. **Variable:** ___

2. **Data Type:** ___

3. **Comment:** ___

4. **camelCase:** ___

5. **DataFrame:** ___

6. **CSV:** ___

7. **Repository:** ___

8. **Commit:** ___

## Submission Checklist

- [ ] All code cells run without errors
- [ ] All variables use camelCase naming
- [ ] Code cells include comments
- [ ] Short answer questions are completed
- [ ] Vocabulary definitions are filled in
- [ ] Notebook is saved
- [ ] Committed and pushed to GitHub