# dbApps07a Task: INNER JOIN Exercises

## Objective
Master INNER JOIN syntax, table aliases, and the ON clause by querying real IMDb and NBA datasets.

## Key Topics
- INNER JOIN fundamentals
- Table aliases (shorthand notation)
- ON clause for join conditions
- Filtering with WHERE after joins

## Databases
- **imdb_class.db**: Title and person data from IMDb
- **nba_5seasons.db**: NBA team and player statistics (5 seasons)

In [ ]:
# Import necessary libraries
import pandas as pd
import sqlite3

# Connect to IMDb database
connImdb = sqlite3.connect('/sessions/sweet-lucid-archimedes/mnt/databaseApplicationsForGitHub/dbApps07/imdb_class.db')
print('Connected to imdb_class.db')

---

## Task 1: Basic INNER JOIN on IMDb
**Instruction:**
Join `title_basics` and `title_ratings` on the `tconst` column (title constant identifier).
Display the first 10 rows showing: `primaryTitle`, `startYear`, `averageRating`, and `numVotes`.

**Hint:** Use `SELECT * LIMIT 10` after the JOIN to preview the data.

In [ ]:
# Your code here

---

## Task 2: INNER JOIN with Table Aliases
**Instruction:**
Rewrite the query from Task 1 using table aliases:
- `title_basics` as `tb`
- `title_ratings` as `tr`

Aliases make queries more readable and less error-prone.

In [ ]:
# Your code here

---

## Task 3: Filter Movies with Rating > 8.0
**Instruction:**
Find all **movies** (where `titleType = 'movie'`) with an `averageRating` > 8.0.
Show: `primaryTitle`, `startYear`, `averageRating`.
Order by rating descending.

In [ ]:
# Your code here

---

## Task 4: Top 10 Highest-Rated Movies with Minimum Votes
**Instruction:**
Find the **top 10 highest-rated movies** where:
- `titleType = 'movie'`
- `numVotes >= 10000` (exclude movies with few votes)

Display: `primaryTitle`, `startYear`, `averageRating`, `numVotes`.

In [ ]:
# Your code here

---

## Task 5: Find Actors in a Specific Movie
**Instruction:**
Join `title_basics`, `title_principals`, and `name_basics` to find all people involved in a specific movie.
Choose a famous movie, e.g., `"The Dark Knight"` (startYear = 2008).

Display: `primaryTitle`, `primaryName` (actor/crew name), `category`, `job`.

**Tip:** You may need TWO INNER JOINs in this query:
1. `title_basics` JOIN `title_principals`
2. Then JOIN `name_basics` on `nconst`

In [ ]:
# Your code here

---

## Task 6: All Actors and Their Categories from title_principals
**Instruction:**
Join `title_principals` and `name_basics` on `nconst`.
Show: `primaryName`, `category` (actor, actress, director, etc.).
Limit to first 20 rows and use `DISTINCT` to avoid duplicates if desired.

In [ ]:
# Your code here

---

## Task 7: Actors (not Directors) in a Specific Movie
**Instruction:**
Using the same three-table join, filter for **actors and actresses only** (category IN ('actor', 'actress')).
Use the same movie as Task 5 (e.g., "The Dark Knight").

Display: `primaryTitle`, `primaryName`, `category`.

In [ ]:
# Your code here

---

## Task 8: NBA - Teams and Game Results
**Instruction:**
Connect to the NBA database and join `teams` and `team_game_stats` on `team_id`.
Display: `full_name` (team name), `game_date`, `matchup`, `wl` (W/L), `pts` (points).
Limit to first 10 rows.

In [ ]:
# Connect to NBA database first
connNba = sqlite3.connect('/sessions/sweet-lucid-archimedes/mnt/databaseApplicationsForGitHub/dbApps07/nba_5seasons.db')
print('Connected to nba_5seasons.db')

# Your code here

---

## Task 9: NBA - Players and Season Statistics
**Instruction:**
Join `players` and `player_season_stats` on `player_id`.
Display: `full_name`, `season`, `team_id`, `gp` (games played), `pts` (points), `reb` (rebounds), `ast` (assists).
Limit to first 15 rows.

In [ ]:
# Your code here

---

## Reflection
**In a markdown cell below, answer these questions:**
1. What is the difference between an INNER JOIN and other join types? (You'll explore this in dbApps07b.)
2. Why are table aliases useful?
3. What happens if you JOIN on a column that doesn't exist in one of the tables?

Your reflection here...